/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* all similar content styling codes */

section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.teams,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.658);
    /* background: linear-gradient(to top, black, #f857a6); */
    box-shadow: 4px 0px 12px rgba(211, 196, 196, 0.89) inset;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #f857a6;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}


/* menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* home section styling */

.home {
    /* display: flex;
    background: url("img.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif; */
    display: flex;
    
    background: url(a1.jpg) no-repeat center;
    background-size: 1300px 950px;
    height: 100hv;
    color: #fff;
    min-height: 700px;
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
}

.home .max-width {
    margin: auto 0 auto 30px;
    display: flex;
    flex-direction: row;
}

.home .home-content .text-1 {
    font-size: 27px;
    color: black;
    font-weight: 500;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    background: -webkit-linear-gradient(yellow, rgb(5, 5, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home .home-content .text-3 {
    font-size: 40px;
    color: black;
    font-weight: 500;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    /* border: 2px solid crimson; */
    transition: all 0.3s ease;
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}

.myProfile {
    margin-left: 12%;
}

.myProfile a {
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: 0.4s;
    border-radius: 50%;
    color: crimson;
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
    /* margin-top: 40%; */
}

.myProfile a:hover {
    background: white;
    color: black;
}

.myImg {
     background: url(Sm.jpg) no-repeat center;
   
    background-size: 350px 750px;
    margin-left: 200px;
    width: 350px;
    height: 500px;
    /* box-shadow: 4px 0px 12px rgb(10, 0, 0); */
    /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); */
    box-shadow: rgb(15, 15, 15) 0px 50px 100px -20px, rgb(19, 19, 18) 0px 30px 60px -30px, rgba(10, 37, 64, 0.925) 0px -2px 6px 0px inset;
    border-radius: 10px;
}


/* about section styling */

.about .title::after {
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    /* height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px; */
    height: 500px;
    width: 400px;
    background: url(about.jpg) no-repeat center;
    background-size: 400px 500px;
    object-fit: cover;
    /* box-shadow: 4px 0px 12px rgb(10, 0, 0) inset; */
    box-shadow: rgba(50, 50, 93, 0.884) 0px 50px 100px -20px, rgba(0, 0, 0, 0.904) 0px 30px 60px -30px, rgba(10, 37, 64, 0.925) 0px -2px 6px 0px inset;
    border-radius: 15px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}


/* services section styling */

.services {
    color: #fff;
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
    background: #pxfc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.teams {
    color: #111;
    background: #fff;
}

.services .title::before {
    background: #fff;
}

.teams .title::before {
    background: black;
}
.services .title::after {
    background: white;
    border-radius: 10px;
    content: "what i provide";
}

.teams .title::after {
    background: #fff;
}

.serv-1 {
    background: url(Img/p2.jpg) no-repeat;
    background-size: 355px 240px;
    color: rgb(247, 7, 19);
    font-weight: bold;
}

.serv-2 {
    background: url(Img/p3.jpg) no-repeat;
    background-size: 355px 240px;
    color: rgb(247, 7, 19);
    font-weight: bold;
}

.serv-3 {
      background: url(Img/p2.jpg) no-repeat;
    background-size: 355px 240px;
    color: rgb(247, 7, 19);
    font-weight: bold;
}

.services .serv-content .card {
    width: calc(33% - 20px);
    /* background: #222; */
    /* background: #ff0084; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #33001b, #ff0084); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #33001b, #ff0084); */
     
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    margin: 10px;
    /* transition: all 0.3s ease; */
}

.services .serv-content .card:hover {
    /* background: crimson; */
    background: #ff0084;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* skills section styling */

.skills .title::after {
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}


/* .skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 80%;
}

.skills-content .right .php::before {
    width: 50%;
}

.skills-content .right .mysql::before {
    width: 70%;
} */

.skills-content .right .c::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 40%;
}

.skills-content .right .python::before {
    width: 30%;
    transition: all 0.3s ease;
}

.skills-content .right .html::before {
    width: 80%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .react::before {
    width: 25%;
}

.skills-content .right .node::before {
    width: 20%;
}

.skills-content .right .mysql::before {
    width: 20%;
}


/* teams section styling */

.teams .title::after {
    content: "who with me";
}

.teams .carousel .card {
    /* background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
    background: #f2709c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    /* transition: all 0.3s ease; */
    box-shadow: 4px 0px 12px rgb(10, 0, 0)inset;
}

.teams .carousel .card:hover {
    /* background: crimson; */
    background: #f2709c;
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 2px solid white; */
    transition: all 0.3s ease;
    box-shadow: 4px 0px 12px rgb(10, 0, 0);
}

.teams .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson!important;
}

.profileLinks a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: 0.4s;
    border-radius: 50%;
    color: white;
    box-shadow: 4px 0px 12px rgb(10, 0, 0);
}

.profileLinks a:hover {
    background: white;
    color: black;
}


/* contact section styling */

.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .phone {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: crimson;
    background: none;
}


/* footer section styling */

footer {
    height: 200px;
    background: url(footer.jpg) no-repeat;
    background-size: 1300px 500px;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    box-shadow: 4px 0px 12px rgb(10, 0, 0) inset;
}

footer p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(26, 23, 23);
}

.follow {
    margin-top: 10px;
    font-size: 18px;
    display: inline-flex;
}

.followMe {
    margin-left: 20px;
    margin-top: -2%;
}

.followMe a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: white;
    transition: 0.4s;
    border-radius: 50%;
    color: rgb(14, 1, 4);
    /* box-shadow: 4px 0px 12px rgb(10, 0, 0) inset; */
    box-shadow: rgba(50, 50, 93, 0.884) 0px 50px 100px -20px, rgba(0, 0, 0, 0.904) 0px 30px 60px -30px, rgba(10, 37, 64, 0.925) 0px -2px 6px 0px inset;
}

.followMe a:hover {
    background: crimson;
    color: white;
}

footer span {
    margin-top: 20px;
}

footer span a {
    color: black;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


/* responsive media query start */

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 450px;
        width: 350px;
    }
    .by{
      margin-top: 30px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: linear-gradient(to top, rgb(5, 46, 231), rgb(228, 12, 12));
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
    
}

@media (max-width: 500px) {
    .home {
      /**  background-image: linear-gradient( 135.9deg, rgba(109, 25, 252, 1) 16.4%, rgba(125, 31, 165, 1) 56.1%); ******/
      
    }
    .navbar .menu li a:hover {
        color: rgb(3, 3, 3);
    }
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .follow {
        
        font-size: 10px;
        display: inline-flex;
    }
    .followMe a {
      margin-top: 9%;
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .by{
      margin-top: 15px;
      font-size: 12px;
      font-weight: 500;
    }
    .followMe a:hover {
        background: crimson;
        color: white;
    }
    .myImg{
      margin: 10px;
      width: 340px;
      height: 450px;
    }
    .myProfile{
      margin-left: 12px;
      margin-top: 5px;
      
    }
   
.home .max-width {
      display:flex ;
      flex-direction:column;
    }
}


